.App {
    padding: 40px;
}

.dropzone {
    border: 2px dashed #aaaaaa;
    padding: 20px;
    cursor: pointer;
    max-width: 400px;
    width: 100%;
    background-color: #fff;
    box-sizing: border-box;
    text-align: center;
    margin: 0 auto;
    /* Center horizontally */
}

.dropzone p {
    margin-top: 10px;
    font-size: 16px;
    color: #777777;
}

.chart-selection {
    margin-top: 20px;
    text-align: center;
}

.chart-selection label {
    font-size: 18px;
    margin-right: 10px;
}

.chart-selection select {
    padding: 8px 12px;
    font-size: 16px;
    border: 2px solid #aaaaaa;
    border-radius: 4px;
    outline: none;
    background-color: #fff;
    color: #333333;
    cursor: pointer;
}

.chart-selection select::-ms-expand {
    display: none;
}

.chart-selection select {
    appearance: none;
}

/* Custom styles for the dropzone border on hover */
.dropzone:hover {
    border-color: #555555;
}

/* Custom styles for the chart dropdown on hover */
.chart-selection select:hover {
    border-color: #555555;
}

/* Add some transition effects for a smoother user experience */
.dropzone,
.chart-selection select {
    transition: border-color 0.3s ease-in-out;
}

/* Styling for the whole body */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}